body, html{
  margin: 0;
  padding: 0;
}

*{
  margin: 0;
  padding: 0;
}

body{
  background: lightblue;
  font-family: 'Open Sans', sans-serif;
}

.flexible_content{
  width: 1024px;
  height: auto;
  margin: 0 auto;
}


/*  CONTENT  */

.content{
  width: 100%;
  height: auto;

  h1{
    line-height: 80px;
    color: white;
    font-size: 25px;
  }

  table{
    background: #ffffff;
    width: 100%;
    height: auto;
    border-radius: 5px;

    tr{
      td{
        line-height: 60px;
        text-align: center;
        border-radius: 5px;
      }
      td:hover{
        background: #848484;
        color: #ffffff;
      }
    }
    tr.numbers{
      td{
        text-align: left;
        padding-bottom: 20px;
        padding-left: 20px;
        border-left: 1px solid #dcdcdc;
        border-right: 1px solid #dcdcdc;
        border-top: 1px solid #dcdcdc;
      }
      td.nedele{
        background: rgba(255, 0, 0, 0.30);
        border: 1px solid rgba(162, 0, 0, 0.65);
        color: #7c0000;
      }
      td.nedele:hover{
        background: #666666;
        color: #ffffff;
      }
      td.today{
        background: #666666;
        color: #ffffff;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .flexible_content{
    width: 98%;
  }
}